
main{
	width:65%;
	height: 100vh;
	font-size:15px;
	vertical-align:top;
	margin: 0 auto;
	background-color:#cce5e9;
	color:rgb(41, 35, 35);
}

aside header{
	padding:30px 20px;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}
aside li{
	padding:10px 0;
}
aside li:hover{
	background-color:#5e616a;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	padding:20px 0;
	border-bottom: 2px solid rgb(111, 188, 237);
	position: relative;
}
main header > *{
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	border-bottom:2px solid #fff;
	height: 72%;
	font-size: 20px;
	position: relative;
}

#chat::-webkit-scrollbar, .emoji-scroll-wrapper::-webkit-scrollbar, .emoji-group::-webkit-scrollbar { width: 0;}
#chat li{
	padding:10px 30px;
}

#chat h2,#chat h3{
	display:inline-block;
	font-size:22px;
	font-weight:normal;
}
.time_info{
	position: relative;
	font-size: 14px;
	color: black;

}
.flex h2{
	margin-left: 10px;
}
.flex_reverse h2{
	margin-right: 10px;
}
#chat h3{
	margin-top: 8px;
	font-size:16px;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px 20px 0;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
   overflow-wrap: anywhere;
}

#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#58a8b6;
}
#chat .me .message{
	background-color:#6fbced;
	text-align: end;
}



main footer{
	display: flex;
	height: 17%;
	justify-content: space-around;
	align-items: center;
	padding:20px 30px 10px 20px;
}
main footer textarea{
	resize:none;
	border:1px solid grey;
	display:block;
	width:88%;
	border-radius:3px;
	padding:20px;
	font-size:20px;
	outline: none;
}
main footer textarea::placeholder{
	color:#ddd;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer button:disabled{
	cursor: default;
	background-color: #b1b2b3;
}
main footer button{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color: rgb(238, 238, 240);;
	vertical-align:top;
	padding: 15px;
	border-radius: 12px;
	background-color: #3cdc6e;
	border: none;
	margin-left: 10px;
	cursor: pointer;

}


.cycle_send{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 80%;
	max-height: 90px;
}


.entete img{
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 200px;
}
.flex{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.flex_reverse{
	display: flex;
	align-items: center;
}
main.dark{
	color: white;
}
main footer button.dark{
	color: rgb(9 9 10);;
	background-color: #b1b2b3;
}
.emoji_class{
	position: fixed;
	bottom: 17%;
	right: 22%;
}
#chat div li{
	padding: 0;

}
#chat div ul{
	height: auto;
}
aside div li:hover{
	background-color: white;
}
.emptyChat{
	width: 65%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(88 168 182 / 60%);
	color: white;
}
.emptyChat span{
	padding: 5px 8px;
	background-color: rgb(94 97 106 / 30%);
	border-radius: 15px;
}