
.header{
    position: relative;
    width: 100%;
    margin: 20px 0;
    background-color: rgb(15 15 193 / 50%);;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.header span:nth-child(2){
    margin-left: 10px;
    font-size: 26;
    border-bottom: 2px dashed black;
    
}
.header button{
    height: 50px;
    cursor: pointer;
}
.setting{

    display: flex;
    align-items: center;
}
.setting div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 140px;
    cursor: pointer;
}
.setting img{
    width:50px;
}
.img{
    border-radius: 200px;
    height: 80%;
    border: 2px solid rgb(47, 47, 48, 0.4);;
}